/* make the game background to be full screen */
.gameBackGroud
{ 
    width: 750px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
    background: url ('./assets.garden.png') ;
    border : 3px solid #999;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1; /* to determine in wich layer this element is */
}

 body {
  font-size: 16px;
  min-height: 100vh;
  background-color: url(./assets.garden.png);
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 3.5rem;
  justify-content: center;
}

.circleArea{ 
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
    z-index: 2;

}

.circle {

    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: gray;
    border: 3px solid black;
    cursor: pointer;
    transition: 0.2s;  
}
.startButton
{
    display: flex;
    justify-content: right;
}

/* to hide the paly again button during the game */
.hidden {
  visibility: hidden;
}
